//Variables
$font-lg: 18px;
$font-md: 16px;
$font-sm: 14px;
$font-xsm: 12px;
$grey: #e5f0fa;
$dark-grey: #657189;
//Mixins
@mixin u-dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Selectors
.show {
    display: block;
}

.hide {
    display: none;
}