//Settings
@import "./settings";
//Components
@import "./fonts/fonts";
@import "./components/header";
@import "./components/service";
@import "./components/nav";
@import "./components/contact";
//Common
@import "./common/accordion";
body,
html {
  font-family: "OpenSans-Regular", "sans-serif";
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  @include u-dflex;
  flex-direction: column;
  margin: 0 auto;
}

.content {
  min-width: 1440px;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 33.3333%);
  grid-template-rows: auto;
  margin-top: 20px;
}

a:hover {
  cursor: pointer;
}
