//Settings
@import "./settings";
//Components
@import "./fonts/fonts";
@import "./components/header";
@import "./components/service";
@import "./components/nav";
body,
html {
    font-family: "OpenSans-Regular", "sans-serif";
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    @include u-dflex;
    flex-direction: column;
    margin: 0 auto;
}

a:hover {
    cursor: pointer;
}